* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0C1618;
  width: 100vw;
  font-size: 14px;
}

body::-webkit-scrollbar {
  width: 0.6em;
  background-color: transparent;
  transition: width 0.5s ease-in-out;
}

body::-webkit-scrollbar:hover {
  width: 1em;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(201, 201, 201, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

.section__one {
  background-color: #e5ebea;
  width: 100%;
  height: 100vh;
}
.section__two {
  background-color: #598392;
  width: 100%;
  height: auto;
  margin-top: -1px;
}
.section__three {
  background-color: #f6f7eb;
  width: 100%;
  height: auto;
}
.section__four {
  width: 100%;
  height: 35vw;
  background-color: #0C1618;
  display: flex;
  color: #f6f7eb;
}

.nav {
  height: 50px;
  position: fixed;
  width: 90%;
  z-index: 4;
  background: transparent;
  backdrop-filter: blur(5px);
}

.hamburger__btn {
  padding: 14px;
  cursor: pointer;
  display: inline-block;
  background: transparent;
  position: fixed;
  border: none;
  z-index: 5;
}
.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger__line {
  width: 100%;
  height: 3px;
  background-color: #0C1618;
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 8px;
  opacity: 1;
  transition: background-color 0.1s 0.2s ease-in-out;
}
.hamburger__line::before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #0C1618;
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: -8px;
  transition: transform 0.2s 0.2s ease-in-out;
}
.hamburger__line::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #0C1618;
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 8px;
  transition: transform 0.2s 0.2s ease-in-out;
}

.hamburger--active .hamburger__line {
  background-color: transparent;
}

.hamburger--active .hamburger__line::before {
  transform: translateY(8px) rotate(45deg);
}

.hamburger--active .hamburger__line::after {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  position: fixed;
  z-index: 3;
  height: auto;
  width: 100vw;
  background-color: #598392;
  border-radius: 0 0 40% 0;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

a {
  text-decoration: none;
  color: #f6f7eb;
}

.menu--active {
  transform: translateY(0);
}

.list {
  list-style: none;
  margin: 0;
  padding: 5vh 0;
}
.list__item {
  position: relative;
  font-size: 24px;
  padding-top: 3vh;
  left: 25%;
}
.list__item::after {
  content: "";
  display: block;
  height: 2px;
  border-radius: 20px;
  width: 50%;
  background-color: #e5ebea;
}

.conatiner__first-section {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
  color: #0C1618;
}

.logo {
  width: 40%;
  position: relative;
  left: 35%;
}

.title__firstpage .title__secondline {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  margin: 0;
}

.title__firstpage .title__firstline {
  color: #0C1618;
}

.computer {
  display: inline;
}

.support {
  background-color: #598392;
  height: auto;
  margin-top: -1px;
}

.title__firstpage {
  position: relative;
  top: 5%;
  left: 5vw;
  width: 90%;
  height: 14vh;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  width: 80vw;
}
.title__secondpage {
  position: relative;
  top: 4vh;
  left: 5vw;
  width: 90%;
  height: 14vh;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
}
.title__thirdpage {
  position: relative;
  top: 2vh;
  left: 5vw;
  width: 90%;
  height: 14vh;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
}
.title__fourthpage {
  position: relative;
  top: -5vh;
  left: 5vw;
  width: 90%;
  height: 14vh;
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  height: 10vh;
}
.title__firstline {
  font-weight: bold;
  color: #e5ebea;
}
.title__secondline {
  font-size: 1.2em;
  width: 60vw;
  font-weight: lighter;
}

.button {
  position: relative;
  top: 8vh;
  left: 0;
  width: 100vw;
}

.main_page__btn {
  position: relative;
  top: 4px;
  left: 19%;
  position: absolute;
  z-index: 1;
  background: transparent;
  width: 60%;
  height: 40px;
  border: 1px solid #0C1618;
  font-size: 1em;
}
.main_page__bg {
  position: relative;
  top: 0;
  left: 20%;
  position: absolute;
  z-index: 0;
  width: 60%;
  height: 40px;
  background-color: #598392;
}

.decoration__mobile {
  position: relative;
  top: 78%;
  left: 0;
  height: 22%;
}
.decoration__computer {
  display: none;
}

.image-elektryk {
  position: relative;
  top: 6vh;
  left: 5vw;
  width: 90vw;
}

.decoration1 {
  position: relative;
  top: 7vh;
  left: 10vw;
  width: 80%;
}

.description {
  position: relative;
  top: 7vh;
  left: 7vw;
  height: 50vh;
  width: 88vw;
  color: #e5ebea;
  font-size: 0.95rem;
  font-weight: lighter;
}

.steps {
  position: relative;
  top: -5vh;
  left: 5%;
  display: flex;
  justify-content: center;
  width: 90%;
  height: 15vh;
  border-radius: 20px;
}

.steps img {
  width: 36px;
  margin-right: 2vw;
}

.steps img:nth-child(5) {
  margin-right: 0;
}

.way__first {
  position: relative;
  top: -8vh;
  left: 5%;
  width: 90%;
  height: auto;
  padding: 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}
.way__second {
  position: relative;
  top: -4vh;
  left: 5%;
  width: 90%;
  padding: 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.decoration2 {
  width: 100%;
}

.description2 {
  position: relative;
  top: -8vh;
  left: 10vw;
  width: 80vw;
  height: 10vh;
}

.socialmedia__stowarzyszenie {
  position: relative;
  top: -10vh;
  left: 17vw;
  width: 80vw;
  height: 8vh;
  display: flex;
  align-items: center;
}

.socialmedia__stowarzyszenie img {
  width: 40px;
  margin-left: 15vw;
}

.contact__mail {
  position: relative;
  top: -8vh;
  left: 10%;
  width: 80%;
  height: 50vh;
  background-color: #e5ebea;
}
.contact__email {
  position: relative;
  top: 3vh;
  left: 10%;
  font-size: 1rem;
  width: 80%;
  height: 5vh;
  background-color: #f6f7eb;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
.contact__description {
  position: relative;
  top: 6vh;
  left: 10%;
  width: 80%;
  height: 30vh;
  border: none;
  padding: 10px;
  font-size: 1rem;
  background-color: #f6f7eb;
}
.contact__btn {
  position: absolute;
  left: 25%;
  top: 4px;
  z-index: 1;
  background: transparent;
  width: 50%;
  height: 30px;
  border: 1px solid #0C1618;
  font-size: 1em;
}
.contact__btn-bg {
  position: absolute;
  left: 26%;
  z-index: 0;
  width: 50%;
  height: 30px;
  background-color: #f6f7eb;
}

.button2 {
  position: relative;
  top: 8vh;
  left: 0;
  width: 100%;
}

.trojkaty2 {
  height: 35vw;
}

.trojkaty2, .decoration2 {
  position: relative;
  top: -1px;
}

.footer__informations {
  width: 65vw;
  height: 100%;
  display: inline-block;
  padding-left: 0;
}
.footer__author {
  position: relative;
  top: 5%;
  left: 5%;
  width: 60vw;
  font-size: 1.1em;
}
.footer__contact {
  position: relative;
  top: 20%;
  left: 5%;
  width: 60vw;
}
.footer__politicy {
  position: relative;
  top: 30%;
  left: 5%;
  width: 60vw;
  font-size: 0.8em;
}
.footer__privilages {
  position: relative;
  top: 32%;
  left: 5%;
  width: 60vw;
  font-size: 0.6em;
}

.icon2 {
  display: inline-block;
  height: 40px;
  margin-right: 1.5vw;
  animation: icons 2s ease-in-out infinite;
}

.icon {
  display: inline-block;
  height: 25px;
  margin-right: 1.5vw;
  animation: icons 2s ease-in-out infinite;
}

.messenger {
  animation-delay: 0.5s;
}

.instagram {
  animation-delay: 1s;
}

.mail {
  animation-delay: 1.5s;
}

@keyframes icons {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (min-width: 400px) {
  .description {
    height: 35vh;
    font-size: 1rem;
  }
}
@media (min-width: 520px) {
  .logo {
    width: 28%;
    left: 40%;
  }
  .main_page {
    font-size: 1.1em;
  }
  .title__firstpage {
    left: 8vw;
    font-size: 28px;
  }
  .title__secondpage {
    font-size: 28px;
  }
  .title__thirdpage {
    top: 6vh;
    height: 18vh;
    font-size: 28px;
  }
  .title__fourthpage {
    font-size: 28px;
  }
  .image-elektryk {
    top: 2vh;
  }
  .decoration1 {
    top: 3vh;
  }
  .description {
    top: 3vh;
  }
  .main_page__btn, .main_page__bg {
    font-size: 1.3em;
    height: 50px;
  }
  .description, .description2 {
    font-size: 1.1rem;
  }
  .way__first {
    font-size: 1.1em;
  }
  .way__second {
    font-size: 1.1em;
  }
  input {
    font-size: 1em;
  }
  textarea {
    font-size: 1.3em;
  }
  .trojkaty2 {
    height: 100%;
    position: absolute;
    right: 0;
  }
  .section__four {
    height: 15vh;
    position: relative;
  }
}
@media (min-width: 650px) {
  .logo {
    width: 22%;
  }
  .title__firstpage {
    left: 10vw;
  }
  .description, .description2 {
    font-size: 1.3rem;
  }
  .way__first, .way__second {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    width: 15%;
    left: 15%;
  }
  .title__firstpage {
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 34px;
  }
  .title__secondline {
    left: 0;
  }
  .title__secondpage {
    position: relative;
    top: 7vh;
    left: 5vw;
  }
  .title__thirdpage {
    position: relative;
    top: 8vh;
    left: 5vw;
  }
  .title__fourthpage {
    width: 50%;
    top: 8%;
    left: 10%;
  }
  .title__secondline {
    width: 90%;
  }
  .title__firstpage .title__secondline {
    position: relative;
    top: 0;
    left: 0;
  }
  .decoration__mobile {
    display: none;
  }
  .decoration__computer {
    display: block;
    height: 100.1vh;
    position: absolute;
    right: 0;
  }
  .main_page__btn {
    width: 100%;
    font-size: 1.2em;
  }
  .main_page__bg {
    width: 100%;
  }
  .button {
    top: 14vh;
    width: 30vw;
  }
  .image-elektryk {
    width: 50%;
    position: absolute;
    top: 35vh;
    left: 45vw;
  }
  body {
    position: relative;
  }
  .section__two {
    height: 40vh;
  }
  .section__three {
    position: relative;
    top: -1px;
    left: 0;
    width: 50vw;
  }
  .section__four {
    position: absolute;
    height: 20vh;
    bottom: -20vh;
  }
  .support {
    position: relative;
    top: 0;
    left: 0;
    width: 50vw;
    background-color: #f6f7eb;
    height: 85vh;
  }
  .way__first {
    top: 0;
  }
  .way__second {
    top: 6vh;
  }
  .about_us {
    height: 100%;
  }
  .decoration1 {
    width: 25vw;
    top: 10vh;
    left: 5vw;
  }
  .decoration2 {
    display: none;
  }
  .description {
    width: 50vw;
    left: 40vw;
    top: -13vh;
  }
  .steps {
    position: relative;
    top: 2vh;
    left: 5vh;
  }
  .description2 {
    width: 80%;
    top: 4%;
    left: 10%;
  }
  .computer {
    display: flex;
  }
  .contact__mail {
    left: 10%;
    top: 2vh;
  }
  .socialmedia__stowarzyszenie {
    width: 80%;
    top: 0;
    left: 0;
    justify-content: right;
  }
  .socialmedia__stowarzyszenie img {
    margin-left: 0;
    margin-right: 20%;
  }
  .title__thirdpage .title__firstline {
    color: #0C1618;
  }
  .trojkaty2 {
    height: 20vh;
    position: absolute;
    right: 0;
  }
  .footer__author {
    padding-left: 5%;
    font-size: 1.2em;
  }
  .footer__contact {
    width: 90vw;
    height: 25%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  .footer__politicy {
    padding-left: 5%;
    top: -25%;
  }
  .footer__privilages {
    width: 100%;
    top: 28%;
    left: 0;
    text-align: center;
  }
  .footer__contact img {
    margin-left: 0;
    margin-right: 2%;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */